.CardsWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 1155px;
    margin: 60px auto;
}

.CardsWrapper .no-data {
    margin: 0 auto;
}

.CardsWrapper .Card {
    margin-right: 40px;
    margin-bottom: 40px;
}

@media (min-width: 425px) and (max-width: 768px) {
    .CardsWrapper {
        justify-content: space-between;
        margin: 20px auto;
    }

    .CardsWrapper .Card {
        margin-right: 20px;
        margin-bottom: 20px;
    }

    .CardsWrapper .Card:nth-of-type(2n + 1) {
        margin-right: 20px;
    }

    .CardsWrapper .Card:nth-of-type(2n) {
        margin-right: 0;
    }
}

@media (max-width: 425px) {
    .CardsWrapper {
        max-width: 345px;
        margin: 20px auto;
    }

    .CardsWrapper .Card {
        margin-right: 0;
    }
}
