.Card {
    border-radius: 6px;
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    width: 345px;
    position: relative;
}

.Card--big {
    width: 729px;
}

.Card-image {
    height: 160px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 30%;
}

.Card-info {
    padding: 16px 50px 16px 24px;
}

.Card-info h1 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33;
    color: #000000;
}

.Card-info p {
    opacity: 0.6;
    font-size: 16px;
    line-height: 1.5;
}

.Card-delete {
    color: #ffffff;
    width: 34px;
    height: 34px;
    opacity: 0.8;
    border-radius: 4px;
    background-color: #000000;
    position: absolute;
    top: 7px;
    right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Card-delete:hover {
    background-color: #ed2d2d;
    cursor: pointer;
}

.Card-delete:active {
    background-color: #d00000;
    cursor: pointer;
}

.Card-delete svg {
    color: #ffffff;
}

@media (max-width: 768px) {
    .Card {
        width: calc(50% - 10px);
    }
}

@media (max-width: 425px) {
    .Card {
        width: 100%;
    }
}
